* {
    font-family: 'Roboto Mono', monospace;
}
.header {
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    background-color: blue;
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    z-index: 1;
}
.myName {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navBar {
    display: flex;
    align-items: stretch;
}

#navBar a {
    display: flex;
    align-items: center;
    height: 100%;
    border: 3px solid black;
    padding: 10px;
    margin: 0 0 0 5px;
    color: white;
    text-decoration: none;
}
#navBar a:hover {
    color: yellow;
}

.container {
    padding-top: 100px;
    padding-bottom: 700px;
    height: auto;
    background-color: green;
    position: relative;
    margin: 100px;
}

p {
    font-size: 35px;
}

#welcome {
    display: inline-flex;
    font-size: 80px;
}

.socials {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.socials button {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    padding: 30px 70px 30px 70px;
    background-color: orange;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 25px;
    width: 300px;
    height: auto;
}

body {
    background-color: black;
}
#pfp {
    max-width: 3%;
    height: auto;
    border: 3px solid black;
    border-radius: 30px;
}

.about {
    display: block;
    margin: 50px;
}